@import "reset"
@import "syntax"
@import "home"

body
  background: white

.site-section
  padding: 5em 0

.container
  max-width: 1200px
  margin: auto
  padding: 0 15px
  box-sizing: border-box

nav
  padding: 1em 0
  border-bottom: solid 1px grey
  background-color: white
#footer
  background: #333
  color: grey
