@import "reset"
@import "syntax"
@import "home"
@import "post"

// One font for all typography elements
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap')

// Colors
 yellow: f6bd60
 red: f96f5d
 blue: 30c5ff
 dark: 2a2d34
 off-white: f8f9fa

h1, h2, h3
  font-weight: 700

h3
  font-size: 1.25rem
  margin-bottom: 0.5rem

body
  background: white

.site-section
  padding: 5em 0

.container
  max-width: 1200px
  margin: auto
  padding: 0 15px
  box-sizing: border-box

.container.center-50
  max-width: 600px
  text-align: center

nav
  padding: 1em 0
  border-bottom: solid 1px grey
  background-color: white
  position: fixed
  width: 100vw
  z-index: 2
#footer
  background: #2a2d34
  color: grey
